<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="API and Web tests of openweathermap.otg" parallel="tests" thread-count="3">
    <suite-files>
        <suite-file path="weatherApi.xml"/>
        <suite-file path="weatherSelenium.xml"/>
    </suite-files>
</suite>